PROJECT_NAME=myapp

# Database
POSTGRES_USER=aviraj
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi
POSTGRES_PORT=5432
POSTGRES_SERVER=db

# Domain settings
DOMAIN=localhost
# FRONTEND_HOST=https://localhost:5173

# Backend settings
ENVIRONMENT=local
# BACKEND_CORS_ORIGINS=["http://localhost:8000"]
SECRET_KEY=4d8f4add4d1003d5c664ced168a53479c5ccc05681c5e44af9c9b1cce60388d2
FIRST_SUPERUSER=avi@example.com
FIRST_SUPERUSER_PASSWORD=avi@12345